[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = git://github.com/tpope/vim-pathogen
	ignore = untracked
	update = merge
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
	ignore = untracked
	update = merge
[submodule "bundle/taglist-plus"]
	path = bundle/taglist-plus
	url = git://github.com/int3/vim-taglist-plus.git
	ignore = untracked
	update = merge
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
	ignore = untracked
	update = merge
